<h1>Articles</h1>

<h2>Articles that are not saved</h2>

<div class="row align-items-start">
  {{#each Article}}
  {{#unless saved}}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{img}}" alt=" Card image cap">
      <div class="card-body">

        <p class="card-text">{{title}}
        </p>
        <a target="_blank" href="https://www.ksl.com{{link}}" class="btn btn-primary btn-sm">Go to article</a>
        <a data-id="{{_id}}" class="btn saveButton btn-primary btn-sm">Save Article</a>

      </div>
    </div>
  </div>
  {{/unless}}
  {{/each}}
</div>


<h2>Articles that are saved</h2>

<div class="row align-items-start">
  {{#each Article}}
  {{#if saved}}
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{img}}" alt=" Card image cap">
      <div class="card-body">

        <p class="card-text">{{title}}</p>
        <a target="_blank" href="https://www.ksl.com{{link}}" class="btn btn-primary btn-sm">Go to article</a>
        <a data-id={{_id}} class="btn unsaveButton btn-primary btn-sm">Unsave Article</a>

      </div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>